<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Life Style</title>
    <link rel="stylesheet" href="../../styles/games.css">

</head>
<body>
    <h1 class="tittle">
        Other Games
    </h1>

    <h2>
        Games
    </h2>
    <!-- Website Pages -->
    <nav>
        <button class="buttons-TEMP" onclick="document.location='../../games.html'">
            Back
        </button>

        <button class="buttons-LS" onclick="document.location='../lifestyle.html'">
            Life Style
        </button>

        <button class="buttons-FE" onclick="document.location='../fightencounter.html'">
            Fight Encounter
        </button>

        <button class="buttons-ME" onclick="document.location='../medievalempire.html'">
            Medieval Empire
        </button>

        <button class="buttons-LS" onclick="document.location='../operationwarfare.html'">
            Operation Warfare
        </button>

        <button class="buttons-SG" onclick="document.location='../spacegalaxies.html'">
            Space Galaxies
        </button>

        <button class="buttons-IA" onclick="document.location='../infectionapocalypse.html'">
            Infection Apocalypse
        </button>

        <button class="buttons-SV" onclick="document.location='../superviglantie.html'">
            Super Viglantie
        </button>

        <button class="buttons-MP" onclick="document.location='../mythicalplane.html'">
            Mythical Plane
        </button>

        <button class="buttons-TEMP" onclick="document.location='../template.html'">
            Template
        </button>
    </nav>
    <h3>
        4x RTS
    </h3>
    <!-- Pages Catagorize -->
    <nav>
        <button class="buttons-TEMP" onclick="document.location='gamelist.html'">
            GameList
        </button>

        <button class="buttons-TEMP" onclick="document.location='socialplayers.html'">
            SocialPlayers
        </button>

        <button class="buttons-TEMP" onclick="document.location='4xrts.html'">
            4xRTS
        </button>

    </nav>

    <h3>
        Description
    </h3>

    <p class="Description">
        City builder where you create armys and build a kingdom
    </p>

    <p>
        Start with just clubs and hut
    </p>

    <p>
        Empires<br>
        ===========================<br>
        First Empires (10000 BC - 3000 BC)

        Mesopotamia Empire - Sumerian (Gilgamesh)<br>
        learn academy, blacksmith, religion, mining, farming, swords, bow, calvary,<br>
        boats, market, pottery, workshop,<br>
        <br>
        Learning and Market<br>
        ------------------------------------------------------------------<br>
        Egypt Empire - Egyptian (Ramesses II) <br>
        learn construction, enslavement,<br>
        <br>
        RichLand and Transport<br>
        ------------------------------------------------------------------<br>
        Indus Valley Civilaztion - Harappans (Parikshit)<br>
        learn gambling, art,<br>
        <br>
        Culrtue and Crafting<br>
        ------------------------------------------------------------------<br>
        Early China - Asian (before - 8000 BCE)<br>
        Nomads (before ~2000 BCE)<br>
        <br>
        Xia Dynasty - Chinese (c. 2070–1600 BCE)<br>
        learn silk, tools, rice, bronze<br>
        <br>
        Shang Dynasty - Dynasty (c. 1600–1046 BCE)<br>
        learn writing<br>
        <br>
        Zhou Dynasty - Ancient (1046–256 BCE)<br>
        learn blade,<br>
        <br>
        Qin Dynasty - China (221–206 BCE)<br>
        learn wall,<br>
        <br>
        Ham Dynasty - GoldenAge (206 BCE – 220 AD)<br>
        learn silkroad, horse archery, gold<br>
        <br>
        Yellow Turban - Rebels<br>
        learn mercenary, curption<br>
        <br>
        Xiongnu<br>
        -------------------------------------------------------------------<br>
        Three Kingdoms Period (220–280 AD)<br>
        Aliiance<br>
        <br>
        Wei Kingdom - Cao Cao(north)<br>
        <br>
        Shu Kingdom - Liu Bei(west)<br>
        <br>
        Wu Kingdom - Sun Quan(south)<br>

        --------------------------------------------------------------------<br>
        Early Japan (before - 14000 BCE)
        Jōmon Period (c. 14,000 BCE – 300 BCE)
    </p>
</body>
</html>
