<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Life Style</title>
    <link rel="stylesheet" href="../../styles/games.css">

</head>
<body>
    <h1 class="tittle">
        Other Games
    </h1>

    <h2>
        Games
    </h2>
    <!-- Website Pages -->
    <nav>
        <button class="buttons-TEMP" onclick="document.location='../../games.html'">
            Back
        </button>

        <button class="buttons-LS" onclick="document.location='../lifestyle.html'">
            Life Style
        </button>

        <button class="buttons-FE" onclick="document.location='../fightencounter.html'">
            Fight Encounter
        </button>

        <button class="buttons-ME" onclick="document.location='../medievalempire.html'">
            Medieval Empire
        </button>

        <button class="buttons-LS" onclick="document.location='../operationwarfare.html'">
            Operation Warfare
        </button>

        <button class="buttons-SG" onclick="document.location='../spacegalaxies.html'">
            Space Galaxies
        </button>

        <button class="buttons-IA" onclick="document.location='../infectionapocalypse.html'">
            Infection Apocalypse
        </button>

        <button class="buttons-SV" onclick="document.location='../superviglantie.html'">
            Super Viglantie
        </button>

        <button class="buttons-MP" onclick="document.location='../mythicalplane.html'">
            Mythical Plane
        </button>

        <button class="buttons-TEMP" onclick="document.location='../template.html'">
            Template
        </button>
    </nav>
    <h3>
        4x RTS
    </h3>
    <!-- Pages Catagorize -->
    <nav>
        <button class="buttons-TEMP" onclick="document.location='gamelist.html'">
            GameList
        </button>

        <button class="buttons-TEMP" onclick="document.location='socialplayers.html'">
            SocialPlayers
        </button>

        <button class="buttons-TEMP" onclick="document.location='4xrts.html'">
            4xRTS
        </button>

    </nav>

    <h3>
        Description
    </h3>

    <p class="Description">
        City builder where you create armys and build a kingdom
    </p>
</body>
</html>
