<!DOCTYPE html>
<html>
<head>
    <title>Life Style</title>
    <link rel="stylesheet" href="../../styles/games.css">
<style>
* {
  box-sizing: border-box;
}

.left {
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 33%; /* The width is 30%, by default */
}

.main {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 33%; /* The width is 30%, by default */
}

.right {
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 33%; /* The width is 30%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
</style>
</head>
<body>
    <h1 class="tittle">
        Life Style
    </h1>

    <p>
        Page Content
    </p>

    <nav>

        <button class="buttons-LS" onclick="document.location='../lifestyle.html'">
            Back
        </button>

        <button class="buttons-LS" onclick="document.location='character.html'">
            Character
        </button>

        <button class="buttons-LS" onclick="document.location='items.html'">
            Items
        </button>

        <button class="buttons-LS" onclick="document.location='vechicles.html'">
            Vechicles
        </button>

        <button class="buttons-LS" onclick="document.location='building.html'">
            Building
        </button>

        <button class="buttons-LS" onclick="document.location='buisness.html'">
            Buisness
        </button>

        <button class="buttons-LS" onclick="document.location='sports.html'">
            Sports
        </button>

        <button class="buttons-LS" onclick="document.location='minigames.html'">
            Minigames
        </button>

        <button class="buttons-LS" onclick="document.location='events.html'">
            Events
        </button>

        <button class="buttons-LS" onclick="document.location='mechanics.html'">
            Mechanics
        </button>
    </nav>

    <p>
        Character
    </p>

    <p>
        Inventory<br>
        --------------<br>
        Pockets<br>
        Backpack<br>
        Phone<br>
        Wallet<br>
        Keys<br>
        Money<br>
        Items<br>
        Weapons
    </p>
    <div class="left">
    <p>
        Fruit-<br>
    kiwi<br>
    pineapple<br>
    berry<br>
    avocado<br>
    strawberry<br>
    pear<br>
    orange<br>

    Vegetables-<br>
    cauliflower<br>
    celery<br>
    aspragus<br>
    mushroom<br>
    carrot<br>
    garlic<br>
    </p>
    Others<br>
    apple<br>
    potato<br>
    cherry<br>
    grape<br>
    tamato<br>
    wheat<br>
    lettuce<br>
    cabbage<br>
    corn<br>
    pea<br>
    lemon<br>
    punkin<br>
    watermelon<br>
    canalope<br>
    peach<br>
    cocnut<br>
    broccoli<br>
    turnip<br>
    radish<br>
    cucumber<br>
    lime<br>
    bellpepper(red,green.yellow,orange)<br>
    hotpepper<br>
    onion<br>
    spinage<br>
    beet<br>
    eggplant<br>
    squash<br>
    kale<br>
    zucchini<br>
    </div>
    <div class="main">
    Breakfast-<br>
    milk<br>
    juice<br>
    egg<br>
    cookie<br>
    ham<br>
    nut<br>
    seed<br>
    peanut<br>
    oat<br>
    bread<br>
    coffee<br>
    cereal<br>
    honey<br>
    jam<br>
    yogurt<br>
    <p>
    Dairy-<br>
    energybar<br>
    cheese<br>
    sugar<br>
    salt<br>
    pepper<br>
    pasta<br>
    sauce<br>
    tea<br>
    cookingoil<br>
    herb<br>
    spice<br>
    rice<br>
    vinegar<br>
    flour<br>
    bakingsoda<br>
    beer<br>
    wine<br>
    snack<br>
    butter<br>
    mustard<br>
    ketchup<br>
    </p>
    </div>
    <div class="right">
    Meat-<br>
    turkey<br>
    tendrion<br>
    pork<br>
    chicken<br>
    beef<br>
    steak<br>
    veal<br>
    duck<br>
    bacon<br>
    rib<br>
    sasauge<br>
    meat<br>
    lamb<br>
    brisket<br>
    wing<br>
    </div>
    <p>

    Seafood-<br>
    shrimp<br>
    scollop<br>
    tuna<br>
    lobster<br>
    crab<br>
    clam<br>
    salmon<br>

    </p>

    <section>
        <img src="../../images/Items/chipsNwater.png" alt="Bag of Chips & Water Bottle" style="width:128px;height:128px">
        <img src="../../images/Items/coins.png" alt="Penny, Nickle, Dime, and Quarters" style="width:128px;height:128px">
        <img src="../../images/Items/creditcard.png" alt="Credit Card" style="width:128px;height:128px">
        <img src="../../images/Items/money.png" alt="1,2,5,10,20,50,and 100$ Bills" style="width:128px;height:128px">
    </section>
</body>
</html>
