<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Life Style</title>
    <link rel="stylesheet" href="../../../../styles/games.css">

</head>
<body>
    <h1 class="tittle">
        Other Games
    </h1>

    <h2>
        Games
    </h2>

    <h3>
        4x RTS
    </h3>
    <!-- Pages Catagorize -->
    <nav>
        <button class="buttons-TEMP" onclick="document.location='../4xrts.html'">
            Back
        </button>

        <button class="buttons-TEMP" onclick="document.location='../../template.html'">
            Template
        </button>

        <button class="buttons-TEMP" onclick="document.location='../gamelist.html'">
            GameList
        </button>

        <button class="buttons-TEMP" onclick="document.location='../4xrts.html'">
            4xRTS
        </button>
    </nav>

    <nav>
        <button class="buttons-ME" onclick="document.location='4xrtsMedieval.html'">
            Medieval Empire
        </button>

        <button class="buttons-ME" onclick="document.location='4xrtsMedieval/4xrtsMedievalFaction.html'">
            Medieval Factions
        </button>
    </nav>

    <h3>
        Description
    </h3>

    <p class="Description">
        City builder where you create armys and build a kingdom
    </p>

    <p>
        Start with a unit build a village then recuit npc to join your faction<br>
        collect resource and build upgrade your village into a town to get<br>
        more building options and train unit to better stuff.<br>
    </p>
</body>
</html>
