.tittle {
    text-align: center;
    color: black;
}

.buttons {
    background-color: rgb(255 0 0);
    color: black;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
    transition: opacity 0.15s;
}
.buttons:hover {
    opacity: 0.8;
    background-color: gray;
}

.buttons:active {
    opacity: 0.5;
}

    .subscribe-button {
    background-color: rgb(255 0 0);
    color: black;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}
